In [1]:
import requests as re
import pandas as pd
import src.API_functions as api
import seaborn as sns
import re
import os

import nltk
from nltk.sentiment.vader import SentimentIntensityAnalyzer
from nltk.corpus import stopwords

from wordcloud import WordCloud, STOPWORDS
from langdetect import detect
from textblob import TextBlob

import sqlalchemy as alch
from getpass import getpass
import cleaning_functions as cleafun


# 
import numpy as np
from PIL import Image
import matplotlib.pyplot as plt

sia = SentimentIntensityAnalyzer()

Index(['id', 'conversation_id', 'created_at', 'date', 'time', 'timezone',
       'user_id', 'username', 'name', 'place', 'tweet', 'language', 'mentions',
       'urls', 'photos', 'replies_count', 'retweets_count', 'likes_count',
       'hashtags', 'cashtags', 'link', 'retweet', 'quote_url', 'video',
       'thumbnail', 'near', 'geo', 'source', 'user_rt_id', 'user_rt',
       'retweet_id', 'reply_to', 'retweet_date', 'translate', 'trans_src',
       'trans_dest'],
      dtype='object')

In [ ]:
cleafun.drop_column(df, ["conversation_id", "timezone", "created_at", "user_id", 'place', 'mentions', 'urls', 'photos', 'hashtags','cashtags', 'link',"retweet", 'quote_url', 'video','thumbnail', 'near', 'geo', 'source', 'user_rt_id', 'user_rt', 'retweet_id', 'reply_to', 'retweet_date', 'translate', 'trans_src', 'trans_dest'])

In [2]:
api.compound_by_name("Megan")

       compound
Megan    -0.059

In [3]:
api.get_top_tweets("retweets_count")

,name,retweets_count,tweet,tweet_cleaned,compound
0,President Biden,16910,Our statement on the death of Queen Elizabeth ...,Our statement death Queen Elizabeth II. https:...,-0.5994
1,Mick Jagger,16584,"For my whole life Her Majesty, Queen Elizabeth...","For whole life Her Majesty, Queen Elizabeth II...",0.8020
2,Liz Truss,11397,Her Majesty Queen Elizabeth II https://t.co/A...,Her Majesty Queen Elizabeth II https://t.co/Ac...,0.0000
3,Empire State Building,9269,"Tonight, our tower lights will shine in purple...","Tonight, tower lights shine purple sparkle sil...",0.7184
4,Paul McCartney,9198,God bless Queen Elizabeth II May she rest in ...,God bless Queen Elizabeth II May rest peace Lo...,0.8126
5,CSGOEmpire,7785,In memory of Queen Elizabeth IIs passing A giv...,In memory Queen Elizabeth IIs passing A giveaw...,0.3612
6,Liverpool FC,6608,Liverpool Football Club is saddened by the pas...,Liverpool Football Club saddened passing Her M...,0.0000
7,BBC News Africa,6476,We take a look back at Queen Elizabeth IIs lon...,We take look back Queen Elizabeth IIs longstan...,0.0000
8,Oceanboy,4501,แปลมม: ในทสดชายชราอาย 73 ไดงานทำแลว #QueenEl...,แปลมม: ในทสดชายชราอาย 73 ไดงานทำแลว #QueenEliz...,0.0000
9,NASA,4026,Queen Elizabeth IIs reign spanned all of space...,"Queen Elizabeth IIs reign spanned spaceflight,...",0.2960

In [4]:
api.get_pos(0.800)

      pos                                              tweet         username
0   0.905      Lovely. Thanks for sharing. #QueenElizabethII     newsjunkiejo
1   0.881          God bless and thank you #QueenElizabethII      matt2knight
2   0.878            Positively delightful #QueenElizabethII     briangovatos
3   0.875                       True Love  #QueenElizabethII    flippingvalve
4   0.865                 @_teekay7 well she can sure dream    ministryofkpop
5   0.858                       THANK GOD  #QueenElizabethII   rockinmargiela
6   0.857                           @roun_sa_ville yw dearie   kittykatarquis
7   0.851  Grace, honour, loyalty and love of countryNobo...     jasonbryantj
8   0.846                       @ashwillrant help me too lol      badbitch3ra
9   0.843  I truly hope God saved the Queen #QueenElizabe...    knoxbroadcast
10  0.841                    God save the #QueenElizabethII    christians_m89
11  0.841                     God save the #QueenElizabethII       twittirero
12  0.841                   God save the #QueenElizabethII    shoujo_shuumatu
13  0.841                         God save #QueenElizabethII    jeromebascher
14  0.841                                 God save the King.   squawkgamingyt
15  0.837  Love love love this Thankyou, sir, for sharing...   mandirasawhney
16  0.837  @fanciful_reylo Youre pretty wonderful and kin...      trevdonfan4
17  0.831                   God bless the #QueenElizabethII      agente47tjmx
18  0.831                        LOVE this #QueenElizabethII      steviered80
19  0.831                        God bless #QueenElizabethII       t_m_nguyen
20  0.831                    #QueenElizabethII God bless you    daleelzohrrow
21  0.831  Congratulations and good luck, Britain #QueenE...    serpentoracle
22  0.822                                  @fluttercutz LMAO  pixiepurgeatory
23  0.822                                     @kyuderie LMAO  pixiepurgeatory
24  0.821                            @Manta_Matt fair. fair.     queen_ai_nft
25  0.815  A Great successor  Rest in perfect peace #Quee...       lamar_yooo
26  0.813  #QueenElizabeth #QueenElizabethII   she truly ...       masudbd736
27  0.810  at the first of 09/1021 queen elizabeth II has...    idiotgaming17
28  0.809                                      @kixkio LMFAO          biruoy_
29  0.808                       @Jessi_Mari1 love this for u         2drowsyy
30  0.808                        Love this #QueenElizabethII       hencreasey
31  0.808                         Love it  #QueenElizabethII       emmalee909
32  0.808                          Love it #QueenElizabethII   nicola_cookson
33  0.808                        Love this #QueenElizabethII       jacquis4th
34  0.807  jokes aside I hope all my UK moots are doing o...      gaym0rpheus
35  0.802  Love to this beautiful #QueenElizabethII  http...       mimcheryla

In [5]:
api.get_neg(0.800)

      neg                                              tweet         username
0   1.000                                            in hell   ellzabethqueen
1   1.000                                           she died   lizzieupdatess
2   1.000                                     they are lying            l8ufs
3   1.000                                             weapon    scousesquatch
4   0.907                               FUCK THIS DAMN SHIT.   koribaudelaire
5   0.881                       Bitch died #QueenElizabethII        evilankit
6   0.881                                 Wtf this shit mean  itshotdownhere0
7   0.875  @MoistCr1TiKaL hell has all the bad bitches i ...          toonymf
8   0.875                                      Damn Im dead       queenelthe2
9   0.867                           Damn he on the floor wtf  itshotdownhere0
10  0.857             Sorrowfully shocking #QueenElizabethII  maryam__alalawi
11  0.846                               this shits fire ngl    ellzabethqueen
12  0.825                No regrets  https://t.co/89EtQCzq2R      gonegirlliz
13  0.821                                   Hell is very hot   justine_voodoo
14  0.819                                 @BirdTheBanana WTF   ministryofkpop
15  0.819                  @WeLoveYouZahir Nah this is CRAZY        weluvdann
16  0.815  Im a baaaad bitch suck some dick if a bitch ta...        tewahhnis
17  0.811                      #QueenElizabethII was a whore       tuff_timmy
18  0.811                                          Shes dead    queenfunfacts
19  0.811                                          Shes dead  queenhealthstat
20  0.802             Oh shit someone just killed themselves  itshotdownhere0

In [6]:
api.get_random_()

compound                                                  0.0
tweet       Katy Perry to Queen Elizabeth II  https://t.co...
username                                      lovelightkatyp2
Name: 39824, dtype: object

# POST

In [15]:
my_params= {'name': 'random one',
            'tweet': 'This is a test',
            'compound': '0.001'}

url = 'http://127.0.0.1:9000/insertweet'
res = re.post(url, params = my_params)
res