In [1]:
import pandas as pd
import re

import nltk
from nltk.sentiment.vader import SentimentIntensityAnalyzer
from nltk.corpus import stopwords

from wordcloud import WordCloud
from langdetect import detect
from textblob import TextBlob

import sqlalchemy as alch
from getpass import getpass

In [2]:
df = pd.read_csv("data/queen.csv")

In [3]:
df.columns

Index(['id', 'conversation_id', 'created_at', 'date', 'time', 'timezone',
       'user_id', 'username', 'name', 'place', 'tweet', 'language', 'mentions',
       'urls', 'photos', 'replies_count', 'retweets_count', 'likes_count',
       'hashtags', 'cashtags', 'link', 'retweet', 'quote_url', 'video',
       'thumbnail', 'near', 'geo', 'source', 'user_rt_id', 'user_rt',
       'retweet_id', 'reply_to', 'retweet_date', 'translate', 'trans_src',
       'trans_dest'],
      dtype='object')

In [4]:
df.drop(["conversation_id", "timezone", "created_at", "user_id", 'place', 'mentions', 'urls', 'photos', 'hashtags','cashtags', 'link',"retweet", 'quote_url', 'video','thumbnail', 'near', 'geo', 'source', 'user_rt_id', 'user_rt', 'retweet_id', 'reply_to', 'retweet_date', 'translate', 'trans_src', 'trans_dest'], axis = 1, inplace= True)

In [5]:
df.iloc[[4181]]

,id,date,time,username,name,tweet,language,replies_count,retweets_count,likes_count
4181,1568161546278211584,2022-09-09,14:27:02,petbloodbank,Pet Blood Bank UK 🩸,We join the nation in mourning the great loss ...,en,1,0,1

In [6]:
df['name'] = df['name'].str.replace('[^\w\s#@/:%.,_-]', '', regex=True, flags=re.UNICODE)
df['tweet'] = df['tweet'].str.replace('[^\w\s#@/:%.,_-]', '', regex=True, flags=re.UNICODE)

In [7]:
df.iloc[[4181]]

,id,date,time,username,name,tweet,language,replies_count,retweets_count,likes_count
4181,1568161546278211584,2022-09-09,14:27:02,petbloodbank,Pet Blood Bank UK,We join the nation in mourning the great loss ...,en,1,0,1

In [8]:
df.shape

(190325, 10)

In [9]:
df.to_csv("data/queen_cleaned.csv", index= False)

# We bring all the data to a dataframe from MySQL

In [10]:
password = getpass("Introduce your password: ")
dbName = "project_4"
connectionData=f"mysql+pymysql://root:{password}@localhost/{dbName}"
engine = alch.create_engine(connectionData)

Introduce your password: ········

In [11]:
query = "SELECT * FROM queen"
df = pd.read_sql_query(query, engine)

In [12]:
nltk.download('stopwords')
stop = stopwords.words('english')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\gnsg3\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [18]:
df['tweet_without_stopwords'] = df['tweet'].apply(lambda x: ' '.join([word for word in x.split() if word not in (stop)]))

In [20]:
nltk.downloader.download('vader_lexicon')

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     C:\Users\gnsg3\AppData\Roaming\nltk_data...

True

In [21]:
sia = SentimentIntensityAnalyzer()

In [24]:
def sa (x):
    try:
        return sia.polarity_scores(x)
    except:
        return x

In [30]:
sid = SentimentIntensityAnalyzer()
df[['neg', 'neu', 'pos', 'compound']] = df['tweet_without_stopwords'].apply(sid.polarity_scores).apply(pd.Series)

In [37]:
df[["tweet","compound"]]

                                                    tweet  compound
0       We at In Professional Development join with pe...   -0.2732
1       Join us in remembering Her Majesty Queen Eliza...    0.0772
2       When life seems hard, the courageous do not li...    0.6808
3       We join the nation in mourning the death of He...   -0.2732
4       We are saddened by the death of Her Majesty Qu...   -0.8720
...                                                   ...       ...
190347  Queen Elizabeth II, Britains longest-reigning ...   -0.5574
190348  Queen Elizabeth II dies at age 96  https://t.c...    0.0000
190349  GOD SAVE THE KING  Today a figure of our histo...    0.9055
190350  70 years.  15 Prime Ministers.  13 American Pr...   -0.8316
190351  She wasnt perfect but she was great, an instit...    0.7437

[190352 rows x 2 columns]

In [38]:
df.to_csv("data/queen_sentiment.csv", index= False)