In [1]:
import pandas as pd
import re
import os
from dotenv import load_dotenv

import nltk
from nltk.sentiment.vader import SentimentIntensityAnalyzer
from nltk.corpus import stopwords

from wordcloud import WordCloud, STOPWORDS
from langdetect import detect
from textblob import TextBlob

import sqlalchemy as alch
from getpass import getpass
import src.cleaning_functions as cleafun


# 
import numpy as np
import pandas as pd
from os import path
from PIL import Image
import matplotlib.pyplot as plt
# % matplotlib inline

In [2]:
df = pd.read_csv("data/queen.csv")

In [3]:
df.columns

Index(['id', 'conversation_id', 'created_at', 'date', 'time', 'timezone',
       'user_id', 'username', 'name', 'place', 'tweet', 'language', 'mentions',
       'urls', 'photos', 'replies_count', 'retweets_count', 'likes_count',
       'hashtags', 'cashtags', 'link', 'retweet', 'quote_url', 'video',
       'thumbnail', 'near', 'geo', 'source', 'user_rt_id', 'user_rt',
       'retweet_id', 'reply_to', 'retweet_date', 'translate', 'trans_src',
       'trans_dest'],
      dtype='object')

In [4]:
cleafun.drop_column(df, ["conversation_id", "timezone", "created_at", "user_id", 'place', 'mentions', 'urls', 'photos', 'hashtags','cashtags', 'link',"retweet", 'quote_url', 'video','thumbnail', 'near', 'geo', 'source', 'user_rt_id', 'user_rt', 'retweet_id', 'reply_to', 'retweet_date', 'translate', 'trans_src', 'trans_dest'])

In [5]:
df.iloc[[4181]]

,id,date,time,username,name,tweet,language,replies_count,retweets_count,likes_count
4181,1568161546278211584,2022-09-09,14:27:02,petbloodbank,Pet Blood Bank UK ðŸ©¸,We join the nation in mourning the great loss ...,en,1,0,1

In [6]:
cleafun.regex_column(df, "name")
cleafun.regex_column(df, "tweet")

In [7]:
df.iloc[[4181]]

,id,date,time,username,name,tweet,language,replies_count,retweets_count,likes_count
4181,1568161546278211584,2022-09-09,14:27:02,petbloodbank,Pet Blood Bank UK,We join the nation in mourning the great loss ...,en,1,0,1

In [8]:
df.shape

(190325, 10)

In [9]:
# df.to_csv("../data/queen_cleaned.csv", index= False)

# We bring all the data to a dataframe from MySQL

In [10]:
load_dotenv()

True

In [11]:
# password = getpass("Introduce your password: ")
password = os.getenv("password_mysql")
dbName = "project_4"
connectionData=f"mysql+pymysql://root:{password}@localhost/{dbName}"
engine = alch.create_engine(connectionData)

In [12]:
query = "SELECT * FROM queen"
df = pd.read_sql_query(query, engine)

In [13]:
nltk.download('stopwords')
stop = stopwords.words('english')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\gnsg3\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [14]:
cleafun.words_filter(df, "tweet_cleaned", "tweet", stop)

In [15]:
nltk.downloader.download('vader_lexicon')

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     C:\Users\gnsg3\AppData\Roaming\nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

True

In [16]:
sia = SentimentIntensityAnalyzer()

In [17]:
df[['neg', 'neu', 'pos', 'compound']] = df['tweet_cleaned'].apply(sia.polarity_scores).apply(pd.Series)

In [18]:
df[["tweet",'neg', 'neu', 'pos',"compound"]]

,tweet,neg,neu,pos,compound
0,We at In Professional Development join with pe...,0.181,0.640,0.179,-0.2732
1,Join us in remembering Her Majesty Queen Eliza...,0.204,0.612,0.184,0.0772
2,"When life seems hard, the courageous do not li...",0.209,0.438,0.353,0.6808
3,We join the nation in mourning the death of He...,0.247,0.545,0.207,-0.2732
4,We are saddened by the death of Her Majesty Qu...,0.411,0.499,0.091,-0.8720
...,...,...,...,...,...
190347,"Queen Elizabeth II, Britains longest-reigning ...",0.141,0.859,0.000,-0.5574
190348,Queen Elizabeth II dies at age 96 https://t.c...,0.000,1.000,0.000,0.0000
190349,GOD SAVE THE KING Today a figure of our histo...,0.120,0.418,0.462,0.9055
190350,70 years. 15 Prime Ministers. 13 American Pr...,0.231,0.769,0.000,-0.8316
190351,"She wasnt perfect but she was great, an instit...",0.191,0.426,0.383,0.7437

In [19]:
# df.to_csv("../data/queen_sentiment.csv", index= False)

In [20]:
# mask = np.array(Image.open("../data/queen.png")
# # Now inside the WordCloud, provide some functions:
# # stopwords - For stopping the unuseful words
# # like [,?/\"]
# # font_path - provide the font path to which you
# # wanna convert it to.
# # max_words - Maximum number of words in the
# # output image. Also provide height and width
# # of the mask
# wc = WordCloud(stopwords = stop,
#                mask = mask,
#                background_color = "red",
#                max_words = 2000,
#                max_font_size = 500,
#                random_state = 42,
#                width = mask.shape[1],
#                height = mask.shape[0])

In [21]:
# Start with one review:
mask = np.array(Image.open("../data/Queen.jpg"))

text = df['tweet_cleaned'][4]

# Create and generate a word cloud image:

                
wordcloud = WordCloud(
    mask = mask,
    background_color = "black",
    height = mask.shape[0],
    max_font_size = 500,
    width = mask.shape[1]
    ).generate(text)

# Display the generated image:
plt.imshow(wordcloud, interpolation='bilinear')
plt.axis("off")
plt.show()
plt.savefig("../data/queen_figure.png", dpi=300)

FileNotFoundError: [Errno 2] No such file or directory: '../data/Queen.jpg'